langchain_community
langchain
langgraph
openai
anthropic
google-generativeai
streamlit
python-dotenv
pytesseract
paddleocr
speechrecognition
openai-whisper
faiss-cpu
sentence-transformers
sympy
numpy
pandas
fastapi
uvicorn
psycopg2-binary
sqlalchemy
pillow
pydantic
requests
unstructured
unstructured-client
python-magic-bin
markdown
langchain-openai
langchain-huggingface
langchain-core
langchain-google-genai
langchain-anthropic
urllib3<2.0.0
chardet<6.0.0
charset-normalizer<4.0.0
